public class $state implements State{
	Context context;
	
	public $state(Context context){
		this.context = context;	
	}
	
#foreach($t in $transitions)
	@Override
	public void $t(){
			context.setState(context.getSomeState());
	}
	
#end
}